__pycache__/
*.pyc
venv/
node_modules/
*.o
build/
.DS_Store
*.log
# Flutter / Linux build ephemeral artifacts
app/client/flutter_app/linux/flutter/ephemeral/
app/client/flutter_app/linux/flutter/ephemeral/**

# (optional) common Flutter build outputs
**/build/
**/.dart_tool/
